/*
 * Empty Stylesheet file.
 */

.anchorPaneInicioView {
    -fx-background-color:  white;
}

.gridpaneMenu {
    -fx-boder-color: #363f4e;
    -fx-background-color: #363f4e;
}

.gripaneAcciones {
    -fx-border-color:rgba(0,0,0,0.2);    
}

.labelMenuInferior {
    -fx-background-color: #2ed1ac;
}

.HBOX {
    -fx-border-color:#363f4e;
}

.btnSalir {
    -fx-border-color:#2ed1ac;
    -fx-background-color:#2ed1ac;
    -fx-border-radius:10px;
    -fx-font-fill: black;
}

.btnSalir:hover{
    -fx-font-fill: white;
    -fx-text-fill: #FFFFFF;
}

.btnSalir:pressed {
    -fx-translate-y: 2px;
}



.btnCruds {
    -fx-font-size: 17px;
    -fx-font-family: "Bookshelf Symbol 7";
    -fx-border-color: #363f4e;
    -fx-background-color: #363f4e;
    -fx-text-fill: white;
}

.btnCruds:hover{
    -fx-border-color:#2ed1ac;
    -fx-background-color:#2ed1ac;
    -fx-font-fill: white;
}

.btnCruds:pressed{
    -fx-translate-y: 2;
}

.btnMenus {
    -fx-font-family: "Bookshelf Symbol 7";
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.btnMenus:hover {
    -fx-border-color: #2ed1ac;
    -fx-border-width: 0 0 0 3;
}

.btnMenus:pressed{
    -fx-translate-y: 1px;
    -fx-background-color:#2eafad;
    -fx-font-fill: white;
    -fx-border-color:#2eafad;
}

.btnContactanos {
    -fx-font-family: "Bookshelf Symbol 7";
    -fx-font-size: 22px;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}

.btnContactanos:hover {
    -fx-border-color: #363f4e;
    -fx-border-width: 0 0 0 3;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.btnContactanos:pressed{
    -fx-translate-y: 1px;
    -fx-background-color:#2eafad;
    -fx-font-fill: white;
    -fx-border-color:#2eafad;
}

/*
 * ===================================================================
 *  Estilo del TableView
 * ===================================================================
 */

.table-view {
    -fx-background-color: rgba(46, 209, 172, 0.15);
}

.table-row-cell {
    -fx-background-color: rgba(255, 255, 255, 0.85);
}

.table-row-cell:hover {
    -fx-background-color: rgba(46, 209, 172, 0.35);
}

.table-row-cell:selected {
    -fx-background-color: rgba(54, 63, 78, 0.9);
    -fx-text-fill: white;
}

.table-view .column-header-background {
    -fx-background-color: rgba(54, 63, 78, 1.0);
}

.table-view .column-header, .table-view .filler {
    -fx-size: 30px;
    -fx-border-color: transparent;
    -fx-background-color: rgba(54, 63, 78, 1.0);
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* ____________________________________________________________________________________________________ */

.buscarTxt{
    -fx-font-family: "Bookshelf Symbol 7";
    -fx-font-size: 14px;
    -fx-background-color: #363f4e;
    -fx-border-radius: 50px;
    -fx-text-fill:white;
}

.txtCampos {
    -fx-background-color:#363f4e;
    -fx-opacity: 0.9;
    -fx-text-fill: #FFFFFF;    
}

.spinner{
    -fx-background-color: #363f4e;
    -fx-text-fill: white;
}